[Unit]
Description=blingServer service
After=network.target

[Service]
ExecStart=/usr/bin/python /home/pi/Documents/bling/blingServer/blingServer.py
WorkingDirectory=/home/pi/Documents/bling/blingServer/

[Install]
WantedBy=multi-user.target

